.header-img {
    height: 70px;
    width: auto;
}

#wrapper {
    max-height: 600px;
    overflow: auto;
}

.message-img {
    max-height: 28px;
    border-radius: 14px;
    margin-right: 5px;
}

.message-container {
    margin: 0;
    padding: 12px;
    background-color: #f1eeee;
}

.message-data {
    font-weight: bold;
}

.message-from {
    font-style: italic;
}

.user-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}